/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

 .notification:not(:last-child){
	margin-bottom: 0;
}

 .top-main{
    background-image: url(https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg);
    background-size: cover;
    width: 100%;
    height: 650px;
 }
 .container{
     max-width: 960px;
     width: 100%;
     padding: 0 15px;
     margin: 0 auto;
 }

 .form-fream{
     height: 650px;
     display: flex;
     align-items: center;
 }

 .form-area{
     background-color: white;
     padding: 20px;
     margin: 50px;
     border-radius: 5px;
 }

 .section-title{
     font-size: 24px;
     margin: 35px;
     font-weight: bold;
 }

 .area_item{
     max-width: 25%;
     float: left;
     padding: 10px;
 }

 
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 100vh;
    position: relative;
}


tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

div{
    display: block;
}

table{
    border-collapse: collapse;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

table th{
    border: solid 1px black;
    padding: 10px 20px;
    
}

th{
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
} 

table td{
    text-align: center;
    border: solid 1px black;
    padding: 10px 20px;
}

p{
  display: block;
  cursor: pointer;
}

form {
    display: block;
    margin-top: 0em;
}

input{
    width: 100%;
    padding: 5px;
    font-size: 16px;
}
input[type=submit] {
    width: auto;
}

label{
    cursor: default;
}

li{
    list-style: none;
}

textarea {
    width: 350px;
    height: 200px;
    font-size: 16px;
}

.main_container {
    margin: 50px 15px;
}

.error_messages {
    color:#c52f24
}

.notice{
    color:white;
    font-size: 20px;
}

.host-icon {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50px;
}   
